@font-face {
    font-family: "Minecraft";
    src: url(/assets/fonts/woff2/Minecraft-Seven_v2.woff2) format(woff2),
         url(/assets/fonts/woff/Minecraft-Seven_v2.woff) format(woff);
}
@font-face {
    font-family: "Unifont";
    src: url(/assets/fonts/woff2/unifont_jp-17.0.01.woff2) format(woff2),
         url(/assets/fonts/woff/unifont_jp-17.0.01.woff) format(woff);
}
:root{
    --color-0: #000000;
    --background-color-0: #000000;
    --color-1: #0000aa;
    --background-color-1: #00002a;
    --color-2: #00aa00;
    --background-color-2: #002a00;
    --color-3: #00aaaa;
    --background-color-3: #002a2a;
    --color-4: #aa0000;
    --background-color-4: #2a0000;
    --color-5: #aa00aa;
    --background-color-5: #2a002a;
    --color-6: #ffaa00;
    --background-color-6: #2a2a00;
    --color-7: #aaaaaa;
    --background-color-7: #2a2a2a;
    --color-8: #555555;
    --background-color-8: #151515;
    --color-9: #5555ff;
    --background-color-9: #15153f;
    --color-a: #55ff55;
    --background-color-a: #153f15;
    --color-b: #55ffff;
    --background-color-b: #153f3f;
    --color-c: #ff5555;
    --background-color-c: #3f1515;
    --color-d: #ff55ff;
    --background-color-d: #3f153f;
    --color-e: #ffff55;
    --background-color-e: #3f3f15;
    --color-f: #ffffff;
    --background-color-f: #3f3f3f;
    font-size: 3vw;
    --shadow-offset: 0.1em;
}
html, body{
    margin: 0;
    padding: 0;
    font-family: "Minecraft", "Unifont", sans-serif;
}
:lang(ja),
:lang(zh),
:lang(ko),
:lang(th),
:lang(hi),
:lang(ar),
:lang(he) {
  font-family: "Unifont", sans-serif;
  --shadow-offset: 0.0625em;
}
.header{
    width: 100%;
    text-align: center;
}
.header nav{
    height: 4rem;
    display: flex;
}
.header nav ul{
    margin: 0;
    padding: 0;
}
.header nav ul li{
    margin: 0;
    list-style: none;
    font-family: "Minecraft", "Unifont", sans-serif !important;
}
.nav_horiz li{
    float: left;
}
.nav_vert{
    position: absolute;
    left: -12rem;
    width: 12rem;
    height: 100vh;
    transition: 0.2s;
    z-index: 10000;
    background-color: white;
}
.header nav ul li a{
    width: 12rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content:center;
    transition: 0.2s;
    color: var(--color-c);
    text-shadow: var(--shadow-offset) var(--shadow-offset) 0 var(--background-color-c);
    text-decoration-thickness: var(--shadow-offset);
}
.header nav ul li a:hover{
    background-color: whitesmoke;
    transition: 0.2s;
}
.header nav ul li a:active{
    background-color: gainsboro;
    transition: 0.2s;
}
.header nav ul li a img{
    user-select: none;
    pointer-events: none;
}
.logo{
    width: 50%;
    max-width: 50vh;
    user-select: none;
    pointer-events: none;
}
.link_logo a{
    width: 3rem !important;
    height: 3rem !important;
    margin: 0.5rem !important;
    border-radius: 50%;
}
#sidemenu-check{
    display: none;
}
.sidemenu-btn{
    display: block;
    font-size: 2rem;
    height: 100vh;
    width: 100vw;
    margin: 0;
    visibility: hidden;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    color: var(--color-c);
    text-shadow: 0.075em 0.075em 0 var(--background-color-c);
    transition: 0.2s;
    user-select: none;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.2s;
    pointer-events: none;
}
.sidemenu-btn::after{
    content: "menu";
    font-family: 'Material Symbols Outlined';
    color: var(--color-c);
    text-shadow: 0.075em 0.075em 0 var(--background-color-c);
    width: 3rem;
    height: 3rem;
    margin: 0.5rem;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: all;
}
.sidemenu-btn:hover::after{
    background-color: whitesmoke;
    transition: 0.2s;
}
.sidemenu-btn:active::after{
    background-color: gainsboro;
    transition: 0.2s;
}
#sidemenu-check:checked + .sidemenu-btn::after{
    content: "close";
    color: var(--color-c);
    text-shadow: 0.05em 0.05em 0 var(--background-color-c) !important;
    left: 12rem;
}
#sidemenu-check:checked + .sidemenu-btn{
    position: absolute;
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.2s;
    pointer-events: all;
}
#sidemenu-check:checked ~ .nav_vert{
    left: 0;
    transition: 0.2s;
}
@media screen and (max-width: 56rem){
    .header nav .nav_horiz{
        display: none !important;
    }
    .sidemenu-btn::after{
        display: flex;
    }
}