@font-face {
    font-family: "Minecraft";
    src: url(/assets/fonts/woff2/Minecraft-Seven_v2.woff2) format(woff2),
         url(/assets/fonts/woff/Minecraft-Seven_v2.woff) format(woff);
}
@font-face {
    font-family: "Unifont";
    src: url(/assets/fonts/woff2/unifont-17.0.01.woff2) format(woff2),
         url(/assets/fonts/woff/unifont-17.0.01.woff) format(woff);
}
:root{
    --c0: #000000;
    --bc0: #000000;
    --c1: #0000aa;
    --bc1: #00002a;
    --c2: #00aa00;
    --bc2: #002a00;
    --c3: #00aaaa;
    --bc3: #002a2a;
    --c4: #aa0000;
    --bc4: #2a0000;
    --c5: #aa00aa;
    --bc5: #2a002a;
    --c6: #ffaa00;
    --bc6: #2a2a00;
    --c7: #aaaaaa;
    --bc7: #2a2a2a;
    --c8: #555555;
    --bc8: #151515;
    --c9: #5555ff;
    --bc9: #15153f;
    --ca: #55ff55;
    --bca: #153f15;
    --cb: #55ffff;
    --bcb: #153f3f;
    --cc: #ff5555;
    --bcc: #3f1515;
    --cd: #ff55ff;
    --bcd: #3f153f;
    --ce: #ffff55;
    --bce: #3f3f15;
    --cf: #ffffff;
    --bcf: #3f3f3f;
}
html, body{
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
    text-align: center;
}
.header nav{
    height: 4rem;
    display: flex;
}
.header nav ul{
    margin: 0;
    padding: 0;
}
.header nav ul li{
    margin: 0;
    list-style: none;
    float: left;
    font-family: "Minecraft", "Unifont", sans-serif !important;
}
.header nav ul li a{
    width: 12rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content:center;
    transition: 0.2s;
    color: var(--cc);
    text-shadow: 0.1rem 0.1rem 0 var(--bcc);
}
.header nav ul li a:hover{
    background-color: whitesmoke;
    transition: 0.2s;
}
.logo{
    width: 50%;
    max-width: 50vh;
}
.link_logo a{
    width: 4rem !important;
}
@media screen and (max-width:56rem) {
    .header nav ul{
        display: none !important;
    }
}